/*  swiper */
#seckill .wrap-head{
	padding-top: 1rem;
	padding-bottom: 1px;
	width: 100%;
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
}
#seckill .head-inner{
    position: relative;
    overflow: hidden;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
}

#seckill .head-inner h4{
	font-size: 1.9rem;
}
#seckill .head-inner h6{
	padding-top: 5px;
	color: #8f8f94;
	font-size: 1.1rem;
	font-weight: 400;
}
#seckill .swiper-pageNo{
	position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    height: 15px;
    font-size: 2.1rem;
}
#seckill .swiper-pageNo i{
	vertical-align: unset;
	
}
#seckill .swiper-pageNo i:last-child{
	font-size: 1.8rem;
	color: #8F8F94;
}
#seckill .seckill-swiper-container{
	width: 100%;
	height: 20rem;
}
#seckill .slider-title{
	position: absolute;
	bottom: -1px;
	left: 0;
	padding: 5px 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	font-size: 1.4rem;
}
#seckill .slider-title h5{
	padding: 1px 10px;
	color: #333;
	font-weight: 400;
}
#seckill .slider-title h6{
	padding: 1px 10px;
	color: #8f8f94;
	font-weight: 400;
}
