<style type="text/css">
	#cost .cost-swiper-container {
		width: 100%;
		height: 12rem;
	}
	#cost .cost-main img{
		width: 93%;
	}
</style>
<div id="cost">
	<header class="cost-head">
		<div class="cost-swiper-container swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background-image: url(src/img/huasuan/5a9e6f74Nbc705a8f.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/huasuan/5a9cfaffN13bdbbb1.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/huasuan/5a94c42cN088b3b5d.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/huasuan/5a9df2beN6c15cee7.JPG);">
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</header>
	<div class="cost-main card-m">
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="cardBox">
			<div class="card">
				<div class="card-header card-media">
					<img src="src/img/huasuan/5a8d4553Nac5671dc.jpg"/>
				</div>
				<div class="card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
				<div class="card-footer">
					<span class="card-link">1090￥</span>
					<span class="card-link">3980￥</span>
				</div>
			</div>
		</a>
		<p class="card-loadedTip">
			商品已全部加载完成...
		</p>
	</div>
</div>
</body>
<script>
var mySwiper = new Swiper('.cost-swiper-container', {
	direction: 'horizontal',
	loop: true,
	autoplay: {
	    delay: 5000,//5秒切换一次
  	},
	// 如果需要分页器
	pagination: {
		el: '.swiper-pagination',
	},

	// 如果需要前进后退按钮
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	}
})
</script>
