<div id="seckill">
	<!-- 顶部轮播图  -->
	<header class="wrap-head">
		<div class="head-inner">
			<h4>今日主推</h4>
			<h6>每日上新、精选好物、限时折扣</h6>
			<div class="swiper-pageNo">
				<i class="swiper-show-count">1</i><!-- swiper.min.js 152 -->
				<i class="swiper-count-old">/</i>
				<i class="swiper-count-old swiper-count-total">4</i>
			</div>
		</div>
		<div class="seckill-swiper-container swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-img" style="background-image: url(src/img/seckill/5aa26c20N37044c28.jpg);"></div>	
					<div class="slider-title">
						<h5>精选商品特卖上新 抄底价限时秒杀</h5>
						<h6>超级福利限时24小时 满130减50、满240减100</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-img" style="background-image: url(src/img/seckill/5a7d0955N97f84dfa.jpg);"></div>
					<div class="slider-title">
						<h5>精选商品特卖上新 抄底价限时秒杀</h5>
						<h6>超级福利限时24小时 满130减50、满440减200</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-img" style="background-image: url(src/img/seckill/5aa249beNf37c7c0c.jpg);"></div>
					<div class="slider-title">
						<h5>精选商品特卖上新 抄底价限时秒杀</h5>
						<h6>超级福利限时24小时 满130减50、满540减300</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-img" style="background-image: url(src/img/seckill/5aa29b2aNfeb9ae9b.jpg);"></div>
					<div class="slider-title">
						<h5>精选商品特卖上新 抄底价限时秒杀</h5>
						<h6>超级福利限时24小时 满130减50、满1040减500</h6>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- 主体商品内容 -->
	<div class="wrap-main card-m">
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a><a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		
		<a href="javascript:;" class="card-module">
			<section class="card">
				<div class="card-left">
					<img src="src/img/seckill/58feacc2N3f3fd63d.jpg"/>
				</div>
				<div class="card-right">
					<div class="card-content">
						<div class="mui-card-content-inner">
							<p>Posted on January 18, 2016</p>
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
					</div>
					<div class="card-footer">
						<span class="card-link">1090￥</span>
						<span class="card-link">3980￥</span>
					</div>
				</div>
			</section>
		</a>
		<p class="card-loadedTip">
			玩命加载中...
		</p>
	</div>
</div>
<script type="text/javascript">
	var mySwiper = new Swiper('.seckill-swiper-container', {
		direction: 'horizontal',
		loop: true,
		autoplay: {
		    delay: 5000,//5秒切换一次
	  	},
		// 如果需要前进后退按钮
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		}
	})
	setInterval(function(){
		var size = ($('.swiper-slide-active').index() == 5?1:$('.swiper-slide-active').index());
			$('#seckill .swiper-show-count').html(size)
	},1000);
</script>
