<style type="text/css">
	#seckill .seckill-swiper-container {
		width: 100%;
		height: 24rem;
	}
</style>
<link rel="stylesheet" type="text/css" href="src/css/seckill.css"/>
<div id="seckill">
	<header class="seckill-head">
		<div class="seckill-swiper-container swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background-image: url(src/img/jiaju/5a7d0955N97f84dfa.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/jiaju/5a9dfd97N6d127d1a.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/jiaju/5a9dfd5dNd2f6ced7.jpg);">
				</div>
				<div class="swiper-slide" style="background-image: url(src/img/jiaju/5a5d845bN29dc6ef8.jpg);">
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</header>
	<div class="seckill-main card-m">
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<a href="javascript:;" class="card">
			<div class="card-header card-media">
				<img src="src/img/choiceness/5aa26c20N37044c28.jpg"/>
			</div>
			<div class="card-content">
				<div class="mui-card-content-inner">
					<p>到底哪家汤圆/元宵最好吃？</p>
					<div class="foot">
						<div class="head-portrait">
							<img src="src/img/jiaju/59e0964aNce8a56de.jpg"/>
						</div>
						<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>
		</a>
		<p class="card-loadedTip">
			商品已全部加载完成...
		</p>
	</div>
</div>
</body>
<script>
	var mySwiper = new Swiper('.seckill-swiper-container', {
		direction: 'horizontal',
		loop: true,
		autoplay: {
		    delay: 5000,//5秒切换一次
	  	},
		// 如果需要分页器
		pagination: {
			el: '.swiper-pagination',
		},
	
		// 如果需要前进后退按钮
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		}
	})
</script>
